.main {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(246, 187, 187) 0%,
    rgb(249, 219, 217) 90%
  );
  margin: 0 auto;
  width: 43.75rem;
}

body {
  background-color: #faebeb;
}

h1 {
  font-family: "Catamaran", sans-serif;
  font-size: 3.75rem;
  padding-top: 2.5rem;
  text-align: center;
}

h2 {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 1.875rem;
  font-weight: 100;
  text-align: center;
 
}

hr {
  border-style: none;
  border-top: dotted;
  border-width: 0.438rem; 
  margin-top: 3.75rem;
  width: 5%;
}

p {
  color: gray;
  font-family: "Catamaran", sans-serif;
  font-size: 1.125rem;
  line-height: 2;
  margin: 5% 10%;
  text-align: center;
}

.herb {
  color: black;
  font-weight: 400;
  text-decoration: underline;
}

img {
  border-radius: 60% 40% 40% 20%;
  display: block;
  margin: 0 auto;
  width: 40vw;
}

button {
  border: none;
  border-radius: 4%;
  box-shadow: rgba(0, 0, 0, 0.16) 3px 5px 10px;
  display: block;
  font-size: 18px;
  margin: 3.125rem auto;
  padding: 0.938rem 1.563rem;
  transition: all 200ms ease;
}

button:hover {
  background: #f6c0bf;
  cursor: pointer;
}

.mug-icon {
  margin-bottom: 0.313rem;
  vertical-align: middle;
}

.footer {
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
  padding-bottom: 3.125rem;
  text-align: center;
}
